#Ignore compiled files
/WebAPI/obj
/WebAPI/bin
#Ignore Entity Framework migrations
/WebAPI/Migrations
/WebAPI/Properties/PublishProfiles/*
#Ignore VS files
/WebAPI/.vscode
/WebAPI/.vs
.vscode/*